	<div ng-repeat="data in weatherData" >
			<div class="forecastContainer">
				<h1>{{data.city.name}}</h1>
				<div>
					<h3>{{data.list[0].dt * 1000 | date:"EEEE, MMM d, y"}} <img ng-src="{{getIconSrc(data.list[0].weather[0].icon)}}"></h3>
					<div class="row">
						<div class="col-md-3"><h3>{{data.list[0].temp.day}}&deg;C<small> Day</small></h3></div>
						<div class="col-md-3"><h3>{{data.list[0].temp.night}}&deg;C<small> Night</small></h3></div>
						<div class="col-md-3"><h3>{{data.list[0].temp.morn}}&deg;C<small> Morning</small></h3></div>
						<div class="col-md-3"><h3>{{data.list[0].pressure}}<small> Pressure</small></h3></div>
					</div>
					<div class="row">
						<div class="col-md-3"><h3>{{data.list[0].temp.max}}&deg;C<small> Max</small></h3></div>
						<div class="col-md-3"><h3>{{data.list[0].temp.min}}&deg;C<small> Min</small></h3></div>
						<div class="col-md-3"><h3>{{data.list[0].temp.night}}&deg;C<small> Night</small></h3></div>
						<div class="col-md-3"><h3>{{data.list[0].humidity}}<small> Humidity</small></h3></div>
					</div>
					<p><a class="btn btn-info" href="" role="button" ng-click="toogle($index);">Coming days Forecast</a></p>
				</div>
				<div class="detailedForecast">
				<div  ng-show="data.show">
					<div class="row">
						<div class="col-sm-2 weatherCard" ng-repeat="forecastdata in data.list">
							<div class="col-md-12 weatherCardContent">
								<h3>{{forecastdata.dt * 1000 | date:"EEEE"}}</h3>
								<h4>{{forecastdata.dt * 1000 | date:"MMM d"}}</h4>
								<img ng-src="{{getIconSrc(forecastdata.weather[0].icon)}}"></br>
								<h3>{{forecastdata.temp.max}}&deg;C</h3>
								<h4>{{forecastdata.temp.min}}&deg;C</h4>
								{{forecastdata.weather[0].description}}
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
	</div>